ansi2html==1.8.0
asttokens==2.2.1
backcall==0.2.0
backports.functools_lru_cache==1.6.4
backports==1.0
blinker==1.6.2
brotli-python==1.0.9
brotlipy==0.7.0
bzip2==1.0.8
ca-certificates==2022.12.7
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
comm==0.1.3
contourpy==1.0.7
cryptography==40.0.2
cycler==0.11.0
dash-bootstrap-components==1.4.1
dash-bootstrap-templates==1.0.8
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.9.1
dash-table==5.0.0
dash==2.9.3
debugpy==1.6.7
decorator==5.1.1
executing==1.2.0
flask-compress==1.13
flask==2.3.2
fonttools==4.39.3
idna==3.4
importlib-metadata==6.6.0
importlib-resources==5.12.0
importlib_metadata==6.6.0
importlib_resources==5.12.0
intel-openmp==2023.1.0
ipykernel==6.22.0
ipython==8.13.2
itsdangerous==2.1.2
jedi==0.18.2
jinja2==3.1.2
jupyter-dash==0.4.2
jupyter_client==8.2.0
jupyter_core==5.3.0
kiwisolver==1.4.4
libblas==3.9.0
libcblas==3.9.0
libffi==3.4.2
libhwloc==2.9.1
libiconv==1.17
liblapack==3.9.0
libsodium==1.0.18
libsqlite==3.40.0
libxml2==2.10.4
libzlib==1.2.13
markupsafe==2.1.2
matplotlib-inline==0.1.6
matplotlib==3.7.1
mkl==2022.1.0
mydcc==0.1.22
nest-asyncio==1.5.6
numpy==1.24.3
openssl==3.1.0
packaging==23.1
pandas==2.0.1
parso==0.8.3
pickleshare==0.7.5
pillow==9.5.0
pip==23.1.2
platformdirs==3.5.0
plotly==5.14.1
prompt-toolkit==3.0.38
prompt_toolkit==3.0.38
psutil==5.9.5
pthreads-win32==2.9.1
pure_eval==0.2.2
pycparser==2.21
pygments==2.15.1
pyopenssl==23.1.1
pyparsing==3.0.9
pysocks==1.7.1
python-dateutil==2.8.2
python-tzdata==2023.3
python==3.10.10
python_abi==3.10
pytz==2023.3
pywin32==304
pyzmq==25.0.2
requests==2.29.0
retrying==1.3.3
ruff==0.0.264
setuptools==67.7.2
six==1.16.0
stack_data==0.6.2
tbb==2021.9.0
tenacity==8.2.2
tk==8.6.12
tornado==6.3
traitlets==5.9.0
typing-extensions==4.5.0
typing_extensions==4.5.0
tzdata==2023c
ucrt==10.0.22621.0
urllib3==1.26.15
vc14_runtime==14.34.31931
vc==14.3
vs2015_runtime==14.34.31931
wcwidth==0.2.6
werkzeug==2.3.3
wheel==0.40.0
win_inet_pton==1.1.0
xz==5.2.6
zeromq==4.3.4
zipp==3.15.0
